@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: repeat(3, auto);
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.75em;
    margin: 0;
}

header, footer {
    padding: 1rem;
    background-color: hsl(238, 53%, 12%);
    color: hsl(238, 53%, 90%);
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
    height: 100%;
    overflow: scroll;
}