@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

header, footer {
    position: sticky;
    z-index: 3;
    padding: 1rem;
    background-color: hsl(238, 45%, 16%);
    color: hsl(238, 53%, 90%);
}

header {
    top: 0;

    & h1 {
        font-family: "Amatic SC", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 2.75em;
        margin: 0;
    }

    & ul {
        display: flex;
        gap: 1rem;
        list-style-type: none;
        padding: 0;
        margin: 0;

        & li a {
            text-decoration: none;
            color: hsl(238, 25%, 70%);
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: normal;
            transition: color 250ms;

            &:hover {
                color: hsl(238, 35%, 80%);
            }
        }
    }
}

footer {
    bottom: 0;
}

main {
    min-height: 100%;
    padding: 1rem;
    position: relative;
    background-color: hsl(238, 25%, 95%);
    color: hsl(238, 15%, 15%);
    text-shadow: 0 -1px 2px hsla(238, 25%, 30%, 0.325);

    & #inv_title {
        text-transform: uppercase;
    }

    & section {

        ul {
            margin: 0;
            margin-block-end: 2rem;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
    
            & li {
                margin: 0;
                padding: 0;
                background-color: hsl(237, 28%, 86%);
                overflow: hidden;
                border-radius: .125rem;
    
                & a {
                    text-decoration: none;
                    color: inherit;
                    padding: .5rem 1rem;
                    display: block;
    
                    &:hover {
                        background-color: hsl(237, 32%, 81%);
                    }
                }
            }
        }
    }
}

.trait-pill {
    font-size: .9em;
    background-color: hsl(238, 25%, 80%);
    padding: .25rem .5rem;
    border-radius: .25rem;
    margin-inline: .25rem;
}

.dataTables_wrapper {

    & .dataTables_scroll {
        border-radius: .25rem;
        overflow: hidden;
    }
    
    & .dataTables_length, .dataTables_filter {
        margin-bottom: 1rem;
    }

    & .dataTables_paginate {
        margin-block-start: .5rem;

        & .paginate_button {
            padding: .25rem .725rem!important;
            border-radius: .125rem!important;

            &.current {
                background: none!important;
                background-color: hsl(238, 25%, 70%)!important;
                border: 1px solid hsl(238, 25%, 65%)!important;
            }

            &:hover:not(.current) {
                background: none!important;
                background-color: hsl(238, 25%, 80%)!important;
                border: 1px solid hsl(238, 25%, 82%)!important;
            }
        }
    }
    
    & table.dataTable {
    
        & thead th {
            background-color: hsl(238, 35%, 26%);
            color: hsl(238, 53%, 90%);
            text-align: left;
        }
    
        & tbody td {
            border-color: hsl(238, 25%, 70%)!important;
        }
    
        & tbody tr {
            background-color: hsl(238, 25%, 90%)!important;
    
            & td.sorting_1 {
                background-color: hsl(238, 25%, 85%)!important;
            }
        }
    
        & tbody tr:nth-child(even) {
            background-color: hsl(238, 25%, 88%)!important;
    
            & td.sorting_1 {
                background-color: hsl(238, 25%, 82%)!important;
            }
        }
    }
}